/* tipografias */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Lato:ital,wght@0,400;1,300;1,400&display=swap");
/* colores */
.ciudades h2, .mail h2, .naturaleza h2 {
  display: flex;
  text-align: center;
  font-family: 'Dancing Script', cursive; }

.header {
  width: 100vw;
  height: auto;
  background-image: url(../imagen/flores.jpg);
  background-size: cover;
  padding: 200px 10px; }
  .header__centro {
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .header__tituloPrincipal {
    font-size: 9em;
    font-family: 'Dancing Script', cursive;
    display: flex;
    flex-direction: column;
    align-items: center; }

.transparencia {
  padding: 10px;
  width: 101vw;
  background-color: rgba(255, 255, 255, 0.582);
  display: flex;
  align-items: center;
  justify-content: space-around; }

.footer {
  width: 100vw;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap; }

.iconos {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column; }
  .iconos ul {
    display: flex; }

.redes li {
  display: flex;
  padding: 20px; }
  .redes li a img {
    height: 4rem; }

.contenedorContacto {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  text-align: center; }

h3 {
  font-size: 1em;
  line-height: 3.2vh;
  font-family: 'Comfortaa', cursive;
  font-family: 'Lato', sans-serif; }

.headerPaginas {
  width: 100vw;
  height: auto;
  background-image: url(../imagen/flores.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px; }
  .headerPaginas__centro {
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }

/* PAG CIUDADES */
.ciudades {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center; }
  .ciudades ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around; }
  .ciudades h2 {
    margin: 20px;
    font-size: 40px; }
  .ciudades .fotos img {
    width: 20em;
    height: 15em;
    border-radius: 25px;
    margin: 22px; }

/* PAG CONTACTO */
.contenido {
  height: auto;
  padding: 30px;
  background-image: linear-gradient(182deg, #fad7a1b5 19%, #f9b2b599 100%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-content: center; }

.mail {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; }
  .mail h2 {
    font-size: 40px; }
  .mail .correos {
    font-size: 2em;
    list-style-type: circle; }

.formulario {
  display: flex;
  flex-direction: row;
  justify-content: center; }

/* PAG NATURALEZA */
.naturaleza {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .naturaleza ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around; }
  .naturaleza h2 {
    margin: 20px;
    font-size: 40px; }
  .naturaleza .fotos img {
    width: 15em;
    height: 13em;
    border-radius: 25px;
    margin: 10px; }

/* PAG SESIONES */
.sesiones {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap; }

.sesiones ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

.organizacion {
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px; }

.nav-link {
  color: #5f5a5a;
  font-size: 20px;
  font-weight: 450px;
  margin: 0px 25px; }

.navbar a:hover {
  border-radius: 10px;
  background-color: rgba(105, 105, 105, 0.274); }

h2 {
  font-family: 'Comfortaa', cursive;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1em;
  line-height: 5vh;
  text-align: center; }

.contenidoPaginas {
  width: 100vw;
  height: auto;
  padding: 30px;
  background-image: linear-gradient(182deg, #fad7a1b5 19%, #f9b2b599 100%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around; }

@media (max-width: 991px) {
  .organizacion {
    height: auto;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center; }
  .header__centro {
    align-items: center; }
  .header__tituloPrincipal {
    font-size: 7em; }
  .navbar-nav {
    align-items: center; }
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    flex-direction: column;
    flex-wrap: nowrap; }
  .pagContactos {
    flex-direction: column;
    justify-content: space-around; }
  .contenido {
    height: auto;
    padding: 30px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around; }
    .contenido .correos {
      font-size: 24px;
      justify-content: center; }
    .contenido .formulario {
      padding: 20px; } }

@media (max-width: 768px) {
  .header__tituloPrincipal {
    font-size: 5em; }
  .footer {
    padding: 10px;
    flex-direction: column;
    flex-wrap: wrap; } }
