@import "./variables/generales";
@import "./variables/extend";

@import "./section/header_Index";
@import "./section/footer";
@import "./section/header_paginas";
@import "./section/mainCIUDADES";
@import "./section/mainCONTACTO";
@import "./section/mainNATURALEZA";
@import "./section/mainSESIONES";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}

.organizacion {
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
}

.nav-link {
    color: rgb(95, 90, 90);
    font-size: 20px;
    font-weight: 450px;
    margin: 0px 25px;
}

.navbar a:hover{
    border-radius: 10px;
    background-color: rgba(105, 105, 105, 0.274);
}

h2 {
    font-family: 'Comfortaa', cursive;
    font-family: 'Lato', sans-serif;
    @include titulos;
    text-align: center;
}

.contenidoPaginas {
    width: 100vw;
    height: auto;
    padding: 30px;
    background-image: $degrade;
    display: flex;
    flex-direction: column;
}


@media (max-width: 991px) { 
    .organizacion {
        height: auto;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .header {
        &__centro {
            align-items: center;
        }
        &__tituloPrincipal {
            font-size: 7em;
        }
    }

    .navbar-nav {
        align-items: center;
    }

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .pagContactos {
        flex-direction: column;
        justify-content: space-around;
    }

    .contenido {
        height: auto;
        padding: 30px;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        .correos {
            font-size: 24px;
            justify-content: center;
        }
        .formulario{
            padding: 20px;
        }
    } 
    .sesiones {
        height: auto;
        padding: 0px;
    }
}


@media (max-width: 768px){
    .header {
        &__tituloPrincipal {
            font-size: 5em;
        }
    }
    .footer {
        padding: 10px;
        flex-direction: column;
        flex-wrap: wrap;
    } 
    .sesiones {
        height: auto;
    }
    .ciudades {
        .fotos img {
            width: 22em;
            height: 15em;
        }
    }
    .naturaleza {
        .container {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 20vh 25vh 40vh 25vh 20vh;
            grid-template-areas:
            "foto1 foto2"
            "foto3 foto3"
            "foto4 foto4"
            "foto5 foto6"
            "foto7 foto8";
            .foto1 {  
                img {
                    width: 40vw;
                    height: 20vh;
                }
            }
            .foto2 {  
                img {
                    width: 30vw;
                    height: 20vh;
                }
            }
            .foto3 {  
                img {
                    width: 55vw;
                    height: 25vh;
                }
            }
            .foto4 { 
                img {
                    width: 75vw;
                    height: 37vh;
                } 
            }
            .foto5 {  
                img {
                    width: 40vw;
                    height: 23vh;
                }
            }
            .foto6 {  
                img {
                    width: 30vw;
                    height: 20vh;
                } 
            }
            .foto7 { 
                img {
                    width: 35vw;
                    height: 20vh;
                }
            }
            .foto8 {  
                img {
                    width: 41vw;
                    height: 20vh;
                }
            }
        }
    }
      
}