.header {
    width: 100vw;
    height: auto;
    background-image: url(../imagen/flores.jpg);
    background-size: cover;
    padding: 200px 10px;
    &__centro {
        width: 75vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    &__tituloPrincipal {
        font-size: 9em;
        font-family: 'Dancing Script', cursive;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.transparencia {
    padding: 10px;
    width: 100vw;
    background-color: $transparente;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

