/* PAG CONTACTO */
.contenido {
    height: auto;
    padding: 30px;
    background-image: $degrade;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-content: center;
}
.mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size: 40px;
        @extend %titulosPaginas 
    }
    .correos {
        font-size: 2em;
        list-style-type: circle;
    }  
}

.formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nombre {
    border-radius: 6px;
    background-color: #fad7a1f5;
}
.email {
    border-radius: 6px;
    background-color: #fad7a1f5;

}
.comentario {
    border-radius: 6px;
    background-image: linear-gradient(50deg, #fad7a1f5 19%, #f9b2b5c2 100%);
    resize: none;
}
.boton {
    border-radius: 15px;
    padding: 4px;
}
