/* PAG CIUDADES */
.contenidoCiudades {
    
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.ciudades {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.ciudades ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}