//EXTEND
%mainPrincipal {
    height: 75vh;
    background-image: $degrade;
}
%titulosPaginas {
    display: flex;
    text-align: center;
    font-family: 'Dancing Script', cursive;

}

//MIXIN
@mixin titulos {
    font-weight: bold;
    font-size: 1em;
    line-height: 5vh;
}