/* tipografias */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Lato:ital,wght@0,400;1,300;1,400&display=swap');

/* colores */
$degrade: linear-gradient(182deg, #fad7a1b5 19%, #f9b2b599 100%);
$colorFooter: blanchedalmond;
$transparente: rgba(255, 255, 255, 0.582);


